* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    background-color: #111;
}

.box {
    height: 200px;
    width: 200px;
    background-color: crimson;
    border: 3px solid #fff;
}

.box {
    height: 200px;
    width: 200px;
    background-color: crimson;
    border: 3px solid #fff;
}

h1 {
    color: white;
}

.scroll-container {
    width: 100%;
    /* fix width */
    overflow: hidden;
    white-space: nowrap;
    /* border: 1px solid #ccc; */
    margin: 50px auto;
}

.scroll-text {
    color: #ccc;
    display: inline-block;
    white-space: nowrap;
    /* font-size: x-large; */
    font-size: 80px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
}